[submodule "hive"]
	path = hive
	url = https://github.com/ndg63276/hive.git
[submodule "octopus"]
	path = octopus
	url = https://github.com/ndg63276/octopus.git
[submodule "sonoff"]
	path = sonoff
	url = https://github.com/ndg63276/sonoff.git
[submodule "smartlife"]
	path = smartlife
	url = https://github.com/ndg63276/smartlife.git
[submodule "hue"]
	path = hue
	url = https://github.com/ndg63276/hue.git
